html, body {
    font-family: Arial, sans-serif;
}

a, a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navigation {
    border-collapse: separate;
    border-spacing: 10px 0;
}

.navigation h3 {
    display: inline;
    padding: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

i {
    color: red;
    font-weight: bold;
}

i.success {
    color: green;
}

table, td {
    vertical-align: top;
}

#result-wrapper {
    width: 100%;
    border-collapse: collapse
}

#result-wrapper td {
    width: 50%;
}

#result-wrapper > tbody > tr > td:nth-child(1),
#result-wrapper > thead > tr > td:nth-child(1) {
    border-right: #000 solid thin;
}